<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>



<center><html>
  <head>
<!-- <meta http-equiv="refresh" content="10;">-->
<script type="text/javascript" src="/gs_sortable.js"></script>
<script type="text/javascript">
dir = window.location.hash.substring(1);

function textFileToArray(filename) {
    var reader = (window.XMLHttpRequest != null ) 
               ? new XMLHttpRequest() 
               : new ActiveXObject("Microsoft.XMLHTTP");
    reader.open("GET", filename, false );
    reader.send();
    return reader.responseText.split(/\r\n|\n|\r/);  //split(/(\r\n|\n)/g) 
}
col = parseInt(textFileToArray("rounds.txt")[0]) + 1;
tsort = ['my_table', 's'];
f = 1;
while (f < col) {
    tsort.push('i');
    f++;
}
  
  
  var TSort_Data = tsort;
  f = f-1;
  var TSort_Initial =  new Array (''+f+'D');
  tsRegister();

  

  teamlist = textFileToArray("teams.txt");
function fileExists(file_url){

    var http = new XMLHttpRequest();

    http.open('HEAD', file_url, false);
    http.send();

    return http.status != 404;

}
  function gentable(team) {
      tourn = window.location.href.split('/')[3]
      fwteam = team.split(' ')[0];
      document.write('<tr>');
      c = 1;
      document.write('  <td>'+team+'</td>');
      while (c < col) {
	  if (fileExists(fwteam+'-'+c+'.txt') == true) {
	      teamscore = textFileToArray(fwteam+'-'+c+'.txt')[0].split(';')[0];
	  } else {
	      teamscore = 0
	  }
	  document.write(' <td id="'+fwteam+'-'+c+'"><a href="/scorer/index.html?tourn='+tourn+'&team='+fwteam+'&round='+c+'">'+String(teamscore)+'</a></td>');
	c++;
      }
      document.write('</tr>');
  }
</script>
  </head>
  <body>
    <h1>EV3Lessons Tournament Scoring System --> Load Scorer --> v<script>
function textFileToArray(filename) {
    var reader = (window.XMLHttpRequest != null )
               ? new XMLHttpRequest()
               : new ActiveXObject("Microsoft.XMLHTTP");
    reader.open("GET", filename, false );
    reader.send();
    return reader.responseText.split(/\r\n|\n|\r/);  //split(/(\r\n|\n)/g)
}
document.write(textFileToArray('/version.txt')[0]);
  </script>
</h1>
    <br>
    <script>
	  document.write('<img src="images/logo.jpg" width="100" height="100">');
      </script><img width="100" height="100" src="/ev3lessons.png">
    <br>
    <table style="border-collapse: collapse;" border="1" id="my_table">
      <thead>
	<tr style="background-color: lime"><td>
		 Team Name
	  </td><script>
n = 1;
	    while (n < col) {
	  document.write(' <td>Round '+n+'</td>');
n++;
	   }
	   </script>

<!--	   <td>High Score</td>-->
    </tr></thead>
<script>
n = 0;
while (n < teamlist.length) {
	   gentable(teamlist[n]);
   n++;
}
</script>
    </table>
 <script>
//language = window.location.hash.substring(1);
/*
   scores = textFileToArray("/"+dir+"/scores.txt");
scores.sort();
x = 1;
lastteam = '';
thisteam = '';
lastpoints = 0;
thispoints = 0;
count = scores.length;
while (x < count) {
RoundId = scores[x].split(', ')[0].split(' ')[0] + scores[x].split(', ')[1];
	   Points = scores[x].split(', ')[2].split(' ')[0];
	   thisteam = scores[x].split(', ')[0].split(' ')[0];
	   thispoints = parseInt(Points);
if (thisteam == lastteam) {
	   if (thispoints > lastpoints) {
document.getElementById(scores[x].split(', ')[0].split(' ')[0] + String(col-1)).innerHTML = thispoints;
     }
     } else {
document.getElementById(scores[x].split(', ')[0].split(' ')[0] + String(col-1)).innerHTML = thispoints;
     }
	   lastteam =  scores[x].split(', ')[0].split(' ')[0];
lastpoints = parseInt(scores[x].split(', ')[2].split(' ')[0]);
	   x = x + 1;
	   document.getElementById(RoundId).innerHTML = Points;
     }
*/ 
 </script>

  </body>
</html>
</center>
